.layout-grid-left,
.layout-grid-right {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
}

@media screen and (max-width: 640px) {
	.layout-grid-left,
	.layout-grid-right {
		gap: 1rem;
	}
}

.flex-col-card {
	display: flex;
	flex-direction: column;
}

.prose {
	line-height: 1.6;
}

.work-experience-duration {
	color: #c7c7c7;
}

.work-experience-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.work-experience-entry:not(:last-of-type) {
	border-bottom: 1px solid #353535;
	padding-bottom: 1rem;
}

.work-experience-duration {
	font-size: .925rem;
}

.work-experience-company {
	margin-top: .25rem;
	margin-bottom: .5rem;
}

.work-experience-role {
	margin-bottom: .75rem;
}

.socials-link {
	color: white;
	display: flex;
	flex-direction: row;
	gap: .75rem;
	align-items: center;
}
